In [6]:
ALPHA_API_KEY = "C5ISPZP9QDDZUHTL"

In [21]:
import requests
from dotenv import load_dotenv
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

load_dotenv()
api_key = os.getenv("ALPHA_API_KEY")
symbol = "AAPL"

url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize=full&apikey={api_key}"

data = requests.get(url).json()

In [29]:
df = pd.DataFrame(data["Time Series (Daily)"]).transpose().astype(float)
df.head()

            1. open  2. high    3. low  4. close    5. volume
2021-10-29  147.215  149.940  146.4128    149.80  124953168.0
2021-10-28  149.820  153.165  149.7200    152.57  100077888.0
2021-10-27  149.360  149.730  148.4900    148.85   56094929.0
2021-10-26  149.330  150.840  149.0101    149.32   60893395.0
2021-10-25  148.680  149.370  147.6211    148.64   50720556.0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5536 entries, 2021-10-29 to 1999-11-01
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    5536 non-null   float64
 1   2. high    5536 non-null   float64
 2   3. low     5536 non-null   float64
 3   4. close   5536 non-null   float64
 4   5. volume  5536 non-null   float64
dtypes: float64(5)
memory usage: 259.5+ KB

In [32]:
df.index

Index(['2021-10-29', '2021-10-28', '2021-10-27', '2021-10-26', '2021-10-25',
       '2021-10-22', '2021-10-21', '2021-10-20', '2021-10-19', '2021-10-18',
       ...
       '1999-11-12', '1999-11-11', '1999-11-10', '1999-11-09', '1999-11-08',
       '1999-11-05', '1999-11-04', '1999-11-03', '1999-11-02', '1999-11-01'],
      dtype='object', length=5536)

In [36]:
df.index = pd.to_datetime(df.index)
print(df.index.dtype)
df.head()

datetime64[ns]

            1. open  2. high    3. low  4. close    5. volume
2021-10-29  147.215  149.940  146.4128    149.80  124953168.0
2021-10-28  149.820  153.165  149.7200    152.57  100077888.0
2021-10-27  149.360  149.730  148.4900    148.85   56094929.0
2021-10-26  149.330  150.840  149.0101    149.32   60893395.0
2021-10-25  148.680  149.370  147.6211    148.64   50720556.0

In [39]:
df.loc["2021-10-20" : "2021-10-29"]

            1. open  2. high    3. low  4. close    5. volume
2021-10-29  147.215  149.940  146.4128    149.80  124953168.0
2021-10-28  149.820  153.165  149.7200    152.57  100077888.0
2021-10-27  149.360  149.730  148.4900    148.85   56094929.0
2021-10-26  149.330  150.840  149.0101    149.32   60893395.0
2021-10-25  148.680  149.370  147.6211    148.64   50720556.0
2021-10-22  149.690  150.180  148.6400    148.69   58883443.0
2021-10-21  148.810  149.640  147.8700    149.48   61420990.0